/* Стили для карточки товара */
.product-card {
    border: 1px solid #ddd; /* Легкая граница вокруг карточки */
    border-radius: 8px; /* Скругленные углы */
    overflow: hidden; /* Чтобы содержимое не выходило за пределы карточки */
    width: 200px; /* Фиксированная ширина карточки */
    text-align: center; /* Выравнивание текста по центру */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для карточки */
}

.product-card img {
    width: 100%; /* Занимает 100% ширины карточки */
    height: 200px; /* Фиксированная высота изображения */
    object-fit: cover; /* Обрезает изображение для заполнения контейнера */
}

.product-card h2 {
    font-size: 16px; /* Размер шрифта заголовка */
    font-family: "Fira Code Retina", sans-serif;
}

.product-card p {
    font-size: 14px; /* Размер шрифта для цены */
    color: #007bff; /* Новый цвет текста цены (например, оранжевый) */
    margin: 0;
    font-family: "Fira Code Light", sans-serif;
}

.product-card:hover {
    transform: scale(1.03); /* Увеличение при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
}
