/* src/components/SplashScreen.css */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.splash-screen.fade-in {
    opacity: 1;
}

.splash-screen.fade-out {
    opacity: 0;
}
