/* src/components/Header/Header.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black; /* Цвет фона шапки */
    padding: 10px 20px; /* Отступы вокруг содержимого */
    display: flex;
    justify-content: space-between; /* Располагает элементы по краям */
    align-items: center; /* Центрирование содержимого по вертикали */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень под шапкой для эффекта */
    z-index: 1000; /* Убедитесь, что шапка выше других элементов */
}

.header-title {
    color: white; /* Цвет текста */
    font-weight: bold; /* Жирный шрифт */
    font-size: 24px; /* Размер шрифта */
    margin: 0; /* Удаление стандартных отступов у заголовка */
}

.header .button-container {
    display: flex;
    align-items: center; /* Выравнивание кнопки по вертикали */
}
