/* src/App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

button {
  background-color: #007bff; /* Синий цвет кнопки */
  border: none;
  color: #fff; /* Белый цвет текста */
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px; /* Скругленные углы */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Плавные переходы */
}

button:hover {
  background-color: #0056b3; /* Темнее синий при наведении */
}

button:active {
  transform: scale(0.98); /* Немного уменьшить размер при нажатии */
}

/* Стили для шапки и текста */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black; /* Черный фон шапки */
  padding: 10px 20px; /* Отступы вокруг содержимого */
  display: flex;
  justify-content: space-between; /* Располагает элементы по краям */
  align-items: center; /* Центрирование содержимого по вертикали */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень под шапкой для эффекта */
  z-index: 1000; /* Убедитесь, что шапка выше других элементов */
}

.header-title {
  color: white; /* Цвет текста */
  font-weight: bold; /* Жирный шрифт */
  font-size: 24px; /* Размер шрифта */
  margin: 0; /* Удаление стандартных отступов у заголовка */
}
