/* src/App.css */

/* Общие стили для всех элементов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Стили для body */
body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

/* Стили для кнопок */
button {
  background-color: #007bff; /* Синий цвет кнопки */
  border: none;
  color: #fff; /* Белый цвет текста */
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px; /* Скругленные углы */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Плавные переходы */
}

button:hover {
  background-color: #0056b3; /* Темнее синий при наведении */
}

button:active {
  transform: scale(0.98); /* Немного уменьшить размер при нажатии */
}

/* Стили для шапки */
.header {
  position: fixed; /* Фиксированное позиционирование */
  top: 0;
  left: 0;
  width: 100%;
  background-color: black; /* Черный фон шапки */
  padding: 10px 20px; /* Отступы вокруг содержимого */
  display: flex;
  justify-content: space-between; /* Располагает элементы по краям */
  align-items: center; /* Центрирование содержимого по вертикали */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень под шапкой для эффекта */
  z-index: 1000; /* Убедитесь, что шапка выше других элементов */
}

/* Контейнер для заголовка и кнопки */
.header-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

/* Заголовок в шапке */
.header-title {
  color: white; /* Цвет текста */
  font-weight: bold; /* Жирный шрифт */
  font-size: 24px; /* Размер шрифта */
  margin: 0; /* Удаление стандартных отступов у заголовка */
}

/* Кнопка в шапке */
.header-button {
  margin-right: 20px; /* Отступ справа, чтобы кнопка была ближе к краю */
}

/* Стили для основного содержимого */
.app {
  padding: 20px;
  padding-top: 60px; /* Отступ сверху для основного содержимого, чтобы оно не перекрывалось шапкой */
  background: var(--tg-theme-bg-color); /* Или другой фон по вашему выбору */
}

/* Стили для списка продуктов */
.product-list {
  display: flex;
  flex-wrap: wrap; /* Чтобы карточки переходили на следующую строку при необходимости */
  gap: 16px; /* Расстояние между карточками */
  justify-content: center; /* Центрирование карточек по горизонтали */
}

/* Стили для изображений в карточке товара */
.product-card img {
  width: 100%; /* Занимает 100% ширины родительского контейнера */
  height: 200px; /* Фиксированная высота для всех изображений */
  object-fit: cover; /* Обрезает изображение, чтобы заполнить контейнер, сохраняя пропорции */
}

.product-card-price {
  color: white; /* Белый цвет текста цены */
  font-size: 18px; /* Размер шрифта для цены */
  font-weight: bold; /* Жирный шрифт для цены */
  margin-top: 10px; /* Отступ сверху */
  background-color: #000; /* Черный фон для контраста */
  padding: 5px; /* Отступы вокруг текста */
  border-radius: 4px; /* Скругленные углы фона */
}
